{% extends "master.html" %}
{% block contenido %}
{% include "header.html" %}
<div class="container">
    <div class="col s12" style="height:70px;">
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-3">
                <div class="card-content">
                    <div class="row">
                        <div class="col s2">
                            <i class="medium material-icons red-text">error_outline</i>
                        </div>
                        <div class="col s10">
                            <span class="card-title red-text">Lo sentimos, no tiene pemisos a esta seccion!</span>
                        </div>
                    </div>
                    <div>
                        <p>Si esto es un error consulta con el <a href="mailto:jonnathan.espinoza@unl.edu.ec">Administrador del Sistema</a></p>
                        <span>Puede direccionarse a los siguientes links:</span>
                        <ol>
                            <li>
                                <a href = "{% url 'home_page' %}">INICIO</a>
                            </li>
                            <li>
                                <a href = "{% url 'cliente' %}">Clientes</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}