{% extends "master.html" %}
{% block contenido %}
<div class="container">
    <h4>{{mensaje}}</h4>
    <br>
    <form method="post">
        {% for field in f %}
            <div>
                {{field.label_tag}}<br>
                {{field}}
            </div>
        {% endfor %}
        <!--{{f.as_p}}
        <br>-->
        {% csrf_token %}
        <!--
        <input type="submit" value="Guardar">
        -->
        <button class="btn waves-effect waves-light teal lighten-1" type="submit">Guardar
            <i class="material-icons right">send</i>
        </button>
        <a href="{% url 'cliente'%}" class="waves-effect waves-light btn">Cancelar</a>
    </form>
</div>
{% endblock %}