<nav class="nav-extended">
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li onclick="return redirec_allclientes()" class="tab"><a class="active" href= "{% url 'cliente'%}">Listar Todos los Clientes</a></li>
            <li onclick="return redirec_allcuentas()" class="tab"><a class="" href= "{% url 'listAllCuenta'%}">Listar Todas las Cuentas</a></li>
        </ul>
    </div>
</nav>
<script type="text/javascript">

    function redirec_allclientes(){
        //var element = document.getElementById("allCuentaNav");
        //element.className += " active"
        //$('.allClienteNav').removeClass('active');
        //$('.allCuentaNav').addClass('active');
        location.href = "/clientes/"
    }
    function redirec_allcuentas(){
        //var element = document.getElementById("allClienteNav");
        //element.className += " active"
        //$('.allCuentaNav').removeClass('active');
        //$('.allClienteNav').addClass('active');
        location.href = "listarAllCuentas";
    }
    
</script>