{% extends "master.html" %}
{% block contenido %}
{% include "header.html" %}
<!-- Nav extended -->
<nav class="nav-extended">
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li onclick="return redirec_busquedas()" class="tab"><a class="active" href= "{% url 'cliente'%}">Busquedas</a></li>
            <li onclick="return redirec_allclientes()" class="tab"><a class="" href= "{% url 'cliente'%}">Listar Todos los Clientes</a></li>
            <li onclick="return redirec_allcuentas()" class="tab"><a class="" href= "{% url 'listAllCuenta'%}">Listar Todas las Cuentas</a></li>
        </ul>
    </div>
</nav>
<br>
<!-- BUSCADOR -->
<div class="container z-depth-3">
    <div class="row">
        <div class="col s12">
            <h3 class="center">Buscador Principal</h3>
        </div>
    <div>
    <div class="row">
        <div class="col s12 m12 l6 xl6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Buscar por Numero de Cedula:</span>
                    <div class="nav-wrapper" >
                        <form method = "get" action = "buscarCliente">
                            <div class="input-field">
                                <input id="search" type="search" name="cedula" class="white" placeholder="NUMERO DE CEDULA" required style="border-bottom: 1px solid;">
                                <label class="label-icon deep-orange white-text" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6 xl6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Buscar por Numero de Cuenta:</span>
                    <div class="nav-wrapper">
                        <form method = "get" action = "buscarCuenta">
                            <div class="input-field">
                                <input id="searchCuenta" type="search" name="numero" class="white" placeholder="NUMERO DE CUENTA" required style="border-bottom: 1px solid;">
                                <label class="label-icon deep-orange white-text" for="searchCuenta"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript">
    function abrir_modal(url){
        $('#popup').load(url, function(){
                //console.log('JJJJJJJJJJJJJJEJEJEJEEEEEEEEEEEEEEEEEEEEFFFFFFFFF');
                //$(this).modal('open');
                $(this).show();
                $(this).css('top', '50px');
        });
        return false;
    }
    function cerrar_modal(){
            $('#popup').hide();
            //$(this).modal('hide');
            return false;
    }
    function ver_toast(messages){
        M.toast({html: messages});
    }

    function redirec_allclientes(){
        location.href = "/clientes/"
    }
    function redirec_allcuentas(){
        location.href = "listarAllCuentas";
    }

    function redirec_busquedas(){
        location.href = "prinBusc";
    }
    
</script>
{% endblock %}